.Nav-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 270px;
}
ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-family: "Winky Sans", sans-serif;
}
.navBtn{
    animation: zoomInOut 2s infinite ease-in-out;
}
@keyframes zoomInOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}