.Profile-image{
    width:290px;
    height:300px;
    border-radius: 30px;
}
.About-text-container{
    display: flex;
    /* align-items: ; */
    font-size: 20px;
    gap: 30px;
    padding-top: 30px;
}